.sp-top-margin {
  margin-top: 15px;
}

.sp-right-margin {
  margin-left:5px
}

.sp-top-logo {
  background-image: url(../img/spartakiade-logo_32_32.png);
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 4px;
}

.sp-navbar {
  height: 60px;
  border-radius: 0;
  background-color: #FFF;
  border-bottom: 1px solid #777;
}

.sp-brand-callout {
  float: left;
  line-height: 1.8;
  margin-bottom: 0;
  font-size: 1.4rem;
  color:#C0392B;
}

.sp-tweet-wall-container {
  background-color:#FFF;
  border-radius: 4px;
}

.sp-tweet-wall-inner {
  padding: 8px;
}

.sp-tweet-color-red {
  color: #e81c4f;
}

.sp-tweet-color-green {
  color: #19cf86;
}

.sp-tweet-hash-tag {
  color:#CF5037;
}

.sp-card-img-fit {
  width: 100%;
}

.sp-card-left-content {
  float: left;
  margin-right: 8px;
  margin-bottom: 16px;
}

.sp-card-right-content p {
  margin-bottom: 0;
}

.sp-bg-red {
  background-color:#CF5037
}

.sp-color-red {
  color:#CF5037
}

.footer {
  margin-top: 15px;
  background-color: #e9e9e9;
  text-align: center;
  font-size: .8em;
  padding: 15px 0;
}

.footer a {
  color:#CF5037
}
