<div class="card-columns sp-tweet-wall-inner">
  <div *ngFor="#tweet of tweets" class="card">
    <img *ngIf="tweet.has_image" class="card-img-top sp-card-img-fit" data-src="{{ tweet.image_url_https }}" alt="Card image cap">
    <div class="card-block">
      <p class="card-text" [innerHtml]="tweet.text | beautifyTweet"></p>
      <hr>
      <img class="sp-card-left-content" data-src="{{ tweet.profile_image_url_https }}" alt="profile image">
      <div class="sp-card-right-content">
        <p class="card-text">@{{ tweet.creator }}</p>
        <p class="card-text">
          <small class="text-muted">
            {{ tweet.created_at | tweeted_ago}}
          </small>
          <small *ngIf="tweet.favorite_count > 0" class="text-muted">
            <i class="fa fa-heart sp-tweet-color-red"></i>
            {{ tweet.favorite_count }}
          </small>
          <small *ngIf="tweet.retweet_count > 0" class="text-muted">
            <i class="fa fa-retweet sp-tweet-color-green"></i>
            {{ tweet.retweet_count }}
          </small>
        </p>
      </div>
    </div>
  </div>
</div>

<h2>Design-Überlegung</h2>
<p>Als Listenansicht</p>
<div class="card">
  <div class="row">
    <div class="col-md-8">
      <div class="card-block">
        <h4 class="card-title">@me</h4>
        <p class="card-text">asfsdfasdasd a asd asdas d afasf fsa asd asfsdfsdfsefasdadadsadasdasdadfsdfds f g sdgsdf asdf sadfsadfsf sdfsaf asdfsdfsddasda asd asd f</p>
        <p class="card-text">
          <small class="text-muted">
            <i class="fa fa-heart sp-tweet-color-red"></i>
            3</small>
          <small class="text-muted">
            <i class="fa fa-retweet sp-tweet-color-green"></i>
            2</small>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <img class="card-img-left sp-card-img-fit" src="https://pbs.twimg.com/media/CdSVKmxWoAMvMnW.jpg" alt="Card image cap" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
    </div>
  </div>
</div>
<div class="card">
  <div class="row">
    <div class="col-md-12">
      <div class="card-block">
        <h4 class="card-title">@me</h4>
        <p class="card-text">asfsdfasdasd a asd asdas d afasf fsa asd asfsdfsdfsefasdadadsadasdasdadfsdfds f g sdgsdf asdf sadfsadfsf sdfsaf asdfsdfsddasda asd asd f</p>
        <p class="card-text">
          <small class="text-muted">
            <i class="fa fa-heart sp-tweet-color-red"></i>
            3</small>
          <small class="text-muted">
            <i class="fa fa-retweet sp-tweet-color-green"></i>
            2</small>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="row">
    <div class="col-md-12">
      <div class="card-block">
        <h4 class="card-title">@me</h4>
        <p class="card-text">asfsdfasdasd a asd asdas d afsddasda asd asd f</p>
        <p class="card-text">
          <small class="text-muted">
            <i class="fa fa-heart sp-tweet-color-red"></i>
            3</small>
          <small class="text-muted">
            <i class="fa fa-retweet sp-tweet-color-green"></i>
            2</small>
        </p>
      </div>
    </div>
  </div>
</div>
